.container-fluid {
    height: 100%;
    width: 100%;
}

.box-container {
    width: 90%;
    margin: auto;
    border: 1px solid #e2e1e1;
    border-radius: 15px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-form-field {
    min-width: 40%;
    margin: auto;
}

mat-icon {
    cursor: pointer;
}